.orderItem {
	display: block;
	padding: 11px 10px 11px 15px;
}

.orderItem_picContainer {
	padding-right: 10px;
	display: inline-block;
}

.orderItem_pic {
	width: 90px;
	height: 90px;
}

.orderItem_content {
	display: inline-block;
	width: calc(100% - 100px)
}

.orderItem_product {
	max-width: 237px;
	font-size: 17px;
	font-weight: 700;
	color: #111;
	padding-right: 8px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.orderItem_shop {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
	color: #777;
	padding-top: 9px;
	padding-bottom: 13px;
}

.orderItem_detail {
	display: flex;
	justify-content: space-between;
	height: 22px;
	line-height: 22px;
	padding-right: 4px;
}

.orderItem_price {
	font-size: 13px;
	color: #777;
	vertical-align: 1px;
	margin-left: 10px;
}

.orderItem_price::before {
	content: "\A5";
	margin-right: 1px;
}

.orderItem_btn {
	width: 80px;
	height: 22px;
	text-align: center;
	color: #fff;
	border: 0;
	font-size: 14px;
	cursor: pointer;
}
.orderItem_btn--gray {
	background-color: #999;
}
.orderItem_btn--red {
	background-color: #e9203d;
	margin-right: 15px;
}
.orderItem_commentContainer {
	width: 100%;
}

.orderItem_comment{
	width: 100%;
	height: 80px;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	margin-top: 10px;
	resize: none;
	text-indent: 1em;
}
.orderItem_starContainer {
	margin-bottom: 5px;
}

.orderItem_star {
	color: #999;
	font-size: 20px;
}

.orderItem_star--light {
	color: rgb(233, 32, 61);
	font-size: 20px;
}
